.contact{
    margin-top: 20px;
    background-image: url('../../images/book.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
   
}
.contact-show{
    border: 5px solid rgb(129, 157, 235);
    border-radius: 10px;
    width:75%;
    padding: 30px;
}

    
