.header{
    
    background-image: url('../../images/wp2468653.jpg');
    height:500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    margin-bottom: 10;
}
.text{
   
    text-align: center;
    color:white;
    font-size: 50px;


}